html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.25rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

:root {
    --marg-left: 40px;
}

@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* LEFT SIDE */

#left-content {
    flex: 1 1 40%;
    background-image: url("bg.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    background: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 280px;
}

.banner-text {
    color: white;
    font-size: 80px;
    font-family: norse;
    margin-left: 12px;
}

.logo {
    height: 90px;
    width: 90px; 
}

/* RIGHT SIDE */

#right-content {
    flex: 1 1 60%;
    border-color: f9fafb;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px; 
}

.right-content-txt-container {
    font-size: 1.2rem;
    width: 70%;
    margin-left: var(--marg-left);
}

.tagline {
    margin-top: 40px;
}

.form-container {
    background-color: #fff;
    border: 1px solid red;
    padding: 30px 0;
}


form {
    font-size: 0.8rem;
    display: flex;
    margin-left: var(--marg-left);
}

form div {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.form-tagline {
    margin-left: var(--marg-left);
}

.create-account-container {
    margin-left: var(--marg-left);
}

.create-account-btn {
    margin-bottom: 24px;
}

